<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script type="text/javascript" src='/static/jquery-1.11.3.min.js'></script>
    <link rel="stylesheet" type="text/css" href="/static/chosen.min.css" />
    <script type="text/javascript" src='/static/chosen.jquery.min.js'></script>
    <link rel="stylesheet" type="text/css" href="/static/flatui/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/flatui/css/flat-ui.min.css">
</head>
<body>
<div id="fb-root"></div>
<div class='container'>
    <nav class="navbar navbar-default navbar-inverse navbar-embossed navbar-lg" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
          <span class="sr-only">Toggle navigation</span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav">
          <li class='active'><a href="/">Home</a></li>
        {%for key, value in links.items(): %}
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{key}}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                {%for k, v in value.items(): %}
                <li><a href="{{v}}" style="float: right;">{{k}}</a></li>
                {%endfor%}
              </ul>
          </li>
        {%endfor%}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class='divider-vertical'></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user}}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{logout_url}}" style="float: right;">Logout</a></li>
              </ul>
            </li>
            <li><a href="{{search_url}}">Search Thesis</a></li>
          </ul>
      </div><!-- /.navbar-collapse -->
    </nav><!-- /navbar -->

    <div class='well well-lg'>
      <p>CREATE THESIS ENTRY</p>
      <form class='thesis-entry'>
      <div class='row'>
        <div class='col-md-2'></div>
        <div class='col-md-4 '>
          <div style='padding-bottom:10px;'>
            <select data-toggle="select" style='width:100%' class="form-control select select-primary select-lg department-list" id='department-list' name='thesis_department'>
              <option selected>SELECT DEPARTMENT</option>
              <option>Add Department</option>
            </select>
          </div>
        </div>
        <div class='col-md-4'>
          <div style='padding-bottom:10px;'>
            <select style='width:100%'data-toggle="select" class="form-control select select-primary select-lg" id='yearCreated' name='thesis_year'>
              <option selected>SELECT YEAR CREATED</option>
            </select>
          </div>
        </div> 
      </div>
      <div class='row'>
        <div class='col-md-2'></div>
        <div class='col-md-4 grp'>
          <div class='input-group'>
            <span class='input-group-addon'>Title</span>
            <input class="form-control flat" placeholder="THESIS TITLE" name="thesis_title"/>
            </div>
        </div>
        <div class='col-md-4'>
          <div style='padding-bottom:10px;'>
            <select style='width:100%'data-toggle="select" class="form-control select select-primary select-lg" name='thesis_section'>
              <option selected>SELECT SECTION</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-2'></div>
        <div class='col-md-1'>
          <span>Proponents</span>
        </div>
        <div class='col-md-3' style='padding-left:10px;'>
          <span class='pull-right'>
          <select style='width:100%' data-toggle="select" multiple class="form-control multiselect multiselect-default mrs mbm thesis_proponents" name='thesis_proponents' id='thesis_proponents'></select>
          </span>
        </div>
        <div class='col-md-4'>
          <select style='width:100%'data-toggle="select" class="form-control select select-primary select-lg" id='faculty-list' name='thesis_adviser'>
             <option selected>SELECT ADVISER</option>
             <option value='/faculty/create'>Add Faculty</option>
          </select>
        </div>
        <div class='col-md-2'></div>
      </div>
      <div class='row'>
        <div class='col-md-2'></div>
        <div class='col-md-8'><textarea class='form-control' name="thesis_abstract" placeholder="THESIS ABSTRACT"></textarea></div>
      </div>
      <br>
      <div class='row'>
        <div class='col-md-9'></div>
          <div class='col-md-1'>
            <input style='float:right;' class='btn btn-warning' type="submit" value='SUBMIT' />
          </form> <!-- thesis-entry -->
          </div>
        <div class='col-md-2'></div>
      </div> <!--row-->
    </div>
</div>
<footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-7">
            <h3 class="footer-title">About This Web App</h3>
            <p>This web application is the final project for Database Management System, under Engr. Roman Angelo Tria, Department of Computer Engineering, Polytechnic University of the Philippines.
            </p>

            <p class="pvl">
                <iframe src="http://ghbtns.com/github-btn.html?user=BerKeyinde&type=follow&count=true" height="20" width="195" frameborder="0" scrolling="0" style="width:195px; height: 20px;" allowTransparency="true"></iframe>
              <!--<iframe src="http://ghbtns.com/github-btn.html?user=designmodo&repo=Flat-UI&type=fork&count=true" height="20" width="107" frameborder="0" scrolling="0" style="width:105px; height: 20px;" allowTransparency="true"></iframe>-->
              
            </p>
          </div> <!-- /col-xs-7 -->

          <div class="col-xs-5">
            <div class="footer-banner">
              <h3 class="footer-title">Features</h3>
              <ul>
                <li>Thesis CrUD and Management for Online Compendium</li>
                <li>Faculty CrUD</li>
                <li>Students/Proponents CrUD</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
<script type="text/javascript">
    $('a[href="#"]').click(function(){
      $('.dropdown-toggle').dropdown()
    }); 
</script>
<script type="text/javascript" src='/static/assets-faculty.js'></script>
<script type="text/javascript" src='/static/assets-thesis.js'></script>
<script type="text/javascript" src='/static/flatui/js/flat-ui.min.js'></script>
<script type="text/javascript" src='/static/flatui/js/prettify.js'></script>
<script type="text/javascript" src='/static/flatui/js/radiocheck.js'></script>
<script type="text/javascript" src='/static/flatui/js/application.js'></script>
<script type="text/javascript" src='/static/flatui/js/vendor/bootstrap.min.js'></script>
<script type="text/javascript">
    var min = new Date().getFullYear() + 1;
        max = 2011;
        select = document.getElementById('yearCreated');

    for (var i = min; i > max; i--){
        var opt = document.createElement('option');
        opt.value = i;
        opt.innerHTML = i;
        select.appendChild(opt);
    }

    select.value = new Date().getFullYear();
</script>

</body>
</html>

